<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762010764882-hr30rvfhslgi6v328ivabqaf2uateiev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762010764882-hr30rvfhslgi6v328ivabqaf2uateiev</string>
	<key>API_KEY</key>
	<string>AIzaSyCyb7g4wYt-NBe1KYwt-1DY5dFUqPY_L-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>762010764882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbestech.foodlyRestaurant</string>
	<key>PROJECT_ID</key>
	<string>foodly-flutter-publish</string>
	<key>STORAGE_BUCKET</key>
	<string>foodly-flutter-publish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762010764882:ios:c14bce05e38dd75a04018b</string>
	<key>DATABASE_URL</key>
	<string>https://foodly-flutter-publish-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>